# Base de données
DB_NAME=prestashop
DB_USER=prestashop
DB_PASSWORD=CHANGEME
MYSQL_ROOT_PASSWORD=CHANGEME

# Admin PrestaShop
ADMIN_MAIL=admin@monshop.fr
ADMIN_PASSWORD=CHANGEME

# Production (Dokploy)
PS_DOMAIN=monshop.fr